@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root
{
    --primary-color: #0C4A6E;
    --secondary-color: rgb(255,255,255);
    --gray-shade: #E5E5E5;
}
a:hover
{
    color: var(--gray-shade);
}
body
{
    font-family: 'PT Serif', serif;
    margin: 0px;
    padding: 0%;
}

/* ...........NAVIGATION........... */
.navigation
{
    background-image: url("images/nav-background.jpg");
    border-bottom-left-radius: 1.5rem;
    padding: 1rem;
}
.nav-brand
{
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    padding-left: 1rem;
}
/* List */
.list-non-bullet
{
    list-style: none;
    text-align: right;
    margin: 0%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    padding-top: 5px;
}
.list-item-inline
{
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Link */
.link
{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 23px;
}
.link-active
{
    font-weight: bold;
    font-size: 24px;
}

/* ..........HEADER.......... */
.hero
{
    margin: 2rem;
}
.hero-img
{
    max-width: 300px;
    display: block;
    margin: auto;
}
.hero-heading
{
    text-align: center;
    color: var(--primary-color);
}

/* ............SECTION............ */
.section-intro
{
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}
.section-intro strong
{
    font-size: larger;
    display: block; 
    text-align: center;
}
.section-white
{
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
}
.section-ow
{
    background-color: var(--gray-shade);
}
.section-heading
{
    text-align: center;
    font-weight: bolder;
    font-size: 1.4rem;
    color: var(--primary-color);
    text-decoration: underline;
}

/* .............FOOTER................ */
footer
{
    background-image: url("images/nav-background.jpg");
    border-top-right-radius: 1.5rem;
    padding: 0.5rem;
    color: white;
    font-size: 20px;
    text-align: center;
}
q
{
    font-style: italic;
    display: block;
    padding-bottom: 00.3em;
}
.list
{
    text-align: center;
    margin: 0.5rem 0px;
    padding: 0%;
}
